.containerBtn {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
}

.btnBoton {
  margin: 0 20px 40px;
  position: relative;
  flex: 20%;
  background: transparent;
  border-radius: 8px;
  border: 1px solid white;
  width: 150px;
  padding: 15px;
  transition: all .18s ease-in-out;
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 600
}

.btnBoton:hover {
  transform: scale(1.05);
}

.activo {
  color: white;
}

.contenido {
  color: white;
}

.card {
  display: flex;
  border: 1px solid white;
  /* Borde de la tarjeta */
  border-radius: 8px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Oculta el contenido que desborda */
  margin: 20px;
  /* Márgenes externos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  /* Sombra de la tarjeta */
  transition: transform 0.3s ease-in-out;
  /* Transición al hacer hover */
  justify-content: center;
  align-items: center;
  background-image: url("./images/abstract-optical-laser-wallpaper.jpg");
  margin-left: 57%;
  margin-top: 50px;
  color: white;
  width: 100%;

}

.card2 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  /* Dos columnas de igual tamaño, ajusta según sea necesario */
  gap: 20px;
  border: 1px solid white;
  /* Borde de la tarjeta */
  border-radius: 8px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Oculta el contenido que desborda */
  margin: 20px;
  /* Márgenes externos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  /* Sombra de la tarjeta */
  transition: transform 0.3s ease-in-out;
  /* Transición al hacer hover */
  background-image: url("./images/abstract-optical-laser-wallpaper.jpg");
  margin-left: 20%;
  margin-top: 50px;
  color: white;
  width: 60%;
  height: 590px;
}

.card3 {
  /*border: 1px solid white;*/
  /* Borde de la tarjeta */
  border-radius: 8px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Oculta el contenido que desborda */
  margin: 20px;
  /* Márgenes externos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  /* Sombra de la tarjeta */
  transition: transform 0.3s ease-in-out;
  /* Transición al hacer hover */
  justify-content: center;
  align-items: center;
  margin-left: 23%;
  margin-top: 50px;
  color: white;
  width: 850px;
  /*background-image: url("../images/overhead-view-pink-color-powder-explosion-with-copy-space-text-black-surface.jpg");*/
}

.cardExperience {
  width: 810px;
  background-color: black;
  border-radius: 3px;
  scroll-snap-align: center;
  padding: 10px;
  margin: 8px;
  transition: all 450ms;
  border: 1px solid rgb(108, 96, 102);
  font-size: 18px;
}

.card4 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  /*border: 1px solid white;*/
  /* Borde de la tarjeta */
  border-radius: 8px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Oculta el contenido que desborda */
  margin: 20px;
  /* Márgenes externos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  /* Sombra de la tarjeta */
  transition: transform 0.3s ease-in-out;
  /* Transición al hacer hover */
  justify-content: center;
  align-items: center;
  /*background-image: url("../images/abstract-optical-laser-wallpaper.jpg");*/
  margin-left: 20%;
  margin-top: 50px;
  color: white;
  width: 60%;
}

.cardInterest {
  background-color: black;
  border-radius: 3px;
  scroll-snap-align: center;
  padding: 10px;
  margin: 8px;
  transition: all 450ms;
  border: 1px solid rgb(108, 96, 102);

}

.cardInterest p {
  font-size: 18px;
}

.title3 {
  width: 100%;
}

.card5 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  /* Dos columnas de igual tamaño, ajusta según sea necesario */
  border: 1px solid white;
  /* Borde de la tarjeta */
  border-radius: 8px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Oculta el contenido que desborda */
  margin: 20px;
  /* Márgenes externos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  /* Sombra de la tarjeta */
  transition: transform 0.3s ease-in-out;
  /* Transición al hacer hover */
  background-image: url("../images/abstract-optical-laser-wallpaper.jpg");
  margin-left: 20%;
  margin-top: 50px;
  color: white;
  width: 70%;

}

.cardContact {
  width: 90%;
  background-color: black;
  border-radius: 3px;
  scroll-snap-align: center;
  padding: 10px;
  margin: 8px;
  transition: all 450ms;
  border: 1px solid rgb(108, 96, 102);
  justify-self: center;
  text-align: center;
  font-size: 19px;
}

.imgMap {
  display: block;
  border: 1px solid rgb(108, 96, 102);
  padding: 10px;
}

.imgMap img {
  width: 100%;
  height: 70%;
}

.containerBtn2 {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;

}

.btnBoton2 {
  max-width: 200px;
  min-width: 150px;
  flex: 20%;
  background: transparent;
  border-radius: 8px;
  border: 1px solid white;
  padding: 15px;
  transition: all .18s ease-in-out;
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-align: center;
  justify-self: center;
}

.btnBoton2:hover {
  transform: scale(1.05);
}

.containerSkills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* Tres columnas de igual tamaño, ajusta según sea necesario */
  gap: 10px;
  /* Espacio entre las imágenes, ajusta según sea necesario */
  padding: 20px;
  width: 100%;

}

.skills {
  width: 60px;
  padding: 20px;
  background-color: grey;
  border: 8px white;
}

.title {
  text-align: center;
  margin-top: 6%;
  font-size: 20px;
}

.card2 img {

  width: 78%;
  height: 200px;
  margin-left: 35px;
  transition: transform 0.3s ease-in-out;
}

.certificadoTitle1 {
  font-size: 15px;
  grid-column: span 1;
  /* La etiqueta abarcará dos columnas */

  text-align: center;

}

.certificadoTitle2 {
  font-size: 17px;
  grid-column: span 2;
  /* La etiqueta abarcará dos columnas */
  text-align: center;
}

.cardCertif {
  transition: transform 0.3s ease-in-out;
}

.cardCertif:hover {
  transform: scale(1.05);
  /* Efecto de escala al hacer hover */
}

.containerCardPro {
  display: grid;
  grid-template-columns: 2fr 2fr;

  /* Borde de la tarjeta */
  border-radius: 8px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Oculta el contenido que desborda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  width: 1000px;
  margin-left: 24%;
  place-items: center;
  margin-top: 40px;
}

.card6 {
  border: 1px solid white;
  /* Borde de la tarjeta */
  border-radius: 8px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Oculta el contenido que desborda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  /* Sombra de la tarjeta */
  transition: transform 0.3s ease-in-out;
  /* Transición al hacer hover */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  width: 450px;
  background-image: url("../images/overhead-view-pink-color-powder-explosion-with-copy-space-text-black-surface.jpg");

}

.card6:hover {
  transform: scale(1.05);
  /* Efecto de escala al hacer hover */
}

.cardProject {
  width: 410px;
  background-color: black;
  border-radius: 3px;
  scroll-snap-align: center;
  padding: 10px;
  margin: 8px;
  transition: all 450ms;
  border: 1px solid rgb(108, 96, 102);
  text-align: center;

}

.cardProject img {
  width: 410px;
  height: 230px;
}

.arriba {
  width: 100px;
  color: white;
  padding: 10px;

  font-size: 60px;
  text-align: center;
  margin-left: 750px;
}

@media (max-width: 768px) {
  .containerSkills {
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
  }
  .card {
    margin-left: 0;
    justify-content: flex-start;
    
  }
  .btnBoton {
    margin: auto;
    width: 100px;
    padding: 10px;
    font-size: 14px;
  }

  .card3 {
    margin: 0px;
    width: 100%;
    justify-self: center;
    align-items: center;
  }
  .card2 {
    width: 90%;
    margin: 0px;
    height: 700px;
    margin: auto;
  }
  .cardExperience {
    width: 85%;
    margin: auto;
  }
  .arriba {
    margin-left: 40%;
  }
  .card4 {
    width: 85%;
    margin-left: 0;
    margin: auto;
  }
  .cardCertif {
   
    width: 180px;
  }
  .containerCardPro {
    display: block;
    margin-left: 0;
    width: 100%;
  }
  .card6 {
    margin: auto;
  }
  .containerCardPro h2{
    margin-left: 0;
  }
  .card5 {
    display: block;
    margin-left: 25%;
  }
  .cardContact {
    margin-left: 0
  }
  
}

@media (max-width: 600px) {
  .containerBtn {
    display: grid;
    grid-template-columns: repeat(3, fr);
    width: 90%;
    height: 200px;
    margin: auto;
    align-items: center;
    text-align: center;
  }
  .btnBoton2 {
    font-size: 12px;
  }
  .card {
    margin: 0px;
    width: 81%;
    margin-left: 100px;
  }
  .btnBoton {
    border: none;
    font-size: 13px;
    background-color: grey;
    
  }
  .certificadoTitle2 {
    font-size: 11px;
  }
  .card2 {
    height: 800px;
    grid-template-columns: 2fr 2fr;
    place-items: center;
  }
 .card2 img {
  margin-left: 0;
  width: 100%;
 }
 .card4 {
margin: auto;
 }
  }

