
.bgHeader {
    display: flex;
    background-image: url("./public/images/pink-dust-particles-splash-against-black-background.jpg");
    justify-content: end;
    padding: 15px;
    cursor: pointer;
}
