
.bgHeader {
    display: flex;
    /*background-image: url("../../images/pink-dust-particles-splash-against-black-background.jpg"); version1*/
    /*justify-content: end; version1*/
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    /*width: 100%; version1*/
}
@media (max-width: 768px) {
    .bgHeader {
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 600px) {
    .bgHeader {
      display: block;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-right: 90px;
    }
  }
