
.bgHeader {
    display: flex;
    background-image: url("../../images/pink-dust-particles-splash-against-black-background.jpg");
    justify-content: end;
    padding: 15px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .bgHeader {
      justify-content: center;
    }
  }
  @media (max-width: 600px) {
    .bgHeader {
      margin-right: 90px;
    }
  }
