.bgNavbar {
    background-color: blueviolet;
}
.containerMax {
    display: flex;  
    justify-content: flex-end;
    padding: 40px;
   
}


.divisorVertical {
    border: 1.5px solid grey;
    color: #ffffff !important; /* Estilo de línea vertical */
    padding: 5px;
    padding-top: 10px;
    background-color: grey;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra de la tarjeta */
    height: 310px;
    width: 50px;
   margin-top: 20px;
   position: relative;
  display: inline-block;
  
  }
  
.a {
    text-decoration: none;
    color: white;
}
.containerTexto{
  display: flex;
  align-items:center;
  
}
.textoIcono {
  text-align: center;
  text-decoration: none;
  color: rgb(48, 48, 48);
text-transform:uppercase;
font-weight:900;
letter-spacing:1px;
font-size:15px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
text-align: center;
margin-top: 55px;
z-index: 2;
height: 60px;
width: 40%;
}

.contenedorHome {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.tooltip {
    position: absolute;
    top: 0;
    left: 100%; /* Coloca el tooltip a la derecha del icono */
    padding: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  @media (max-width: 768px) {
    .containerMax{
        padding: 0px;
    }
    .divisorVertical { 
        padding: 2px;
        padding-top: 10px;
        height: 300px;
        width: 48px;
       margin-top: 20px;
      margin-left: 30px;
    }
    .card4 {
      margin-left: 0;
      
    }
  }

  @media (max-width: 600px) {
    
    .divisorVertical {
        padding: 8px;
        height: 288px;
        width: 44px;
     margin-left: 20px;
      
    }
    @media (max-width: 412px) {
    
      .divisorVertical {
          padding: 8px;
          height: 280px;
          
       margin-left: 40px;
        
      }
    }
  }