.bgNavbar {
    background-color: blueviolet;
}
.containerMax {
    display: flex;  
    justify-content: flex-end;
    padding: 40px;
   
}


.divisorVertical {
    border: 1.5px solid grey;
    color: #ffffff !important; /* Estilo de línea vertical */
    padding: 5px;
    padding-top: 10px;
    background-color: grey;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra de la tarjeta */
    height: 310px;
    width: 50px;
   margin-top: 20px;
   position: relative;
  display: inline-block;
  }
  
.a {
    text-decoration: none;
    color: white
}
.contenedorHome {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.tooltip {
    position: absolute;
    top: 0;
    left: 100%; /* Coloca el tooltip a la derecha del icono */
    padding: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  @media (max-width: 768px) {
    .containerMax{
        padding: 0px;
    }
    .divisorVertical {
        
        padding: 2px;
        padding-top: 10px;
        height: 300px;
        width: 48px;
       margin-top: 20px;
      margin-left: 30px;
    }
    .card4 {
      margin-left: 0;
      
    }
  }

  @media (max-width: 600px) {
    
    .divisorVertical {
        padding: 1px;
        height: 288px;
        width: 44px;
     
      
    }
  }